/* ////////////////////////////////////////////// */
// MIXINS
/* ////////////////////////////////////////////// */

// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
	background-image: url(@path);
	@at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;
	background-size: @w @h;

	@media @highdpi {
		background-image: url("@{at2x_path}");
		background-size: @w @h;
	}
}

// Font-face mixin with brower prefixes

//.font-face (@family, @file-base, @weight: normal, @style: normal) {
//	@font-face {
//		font-family: @family;
//		src: 	url("@{file-base}.eot");
//		src: 	url("@{file-base}.eot?#iefix") format("embedded-opentype"),
//				url("@{file-base}.woff") format("woff"),
//				url("@{file-base}.ttf") format("truetype");
//		font-weight: @weight;
//		font-style: @style;
//	}
//}

// Font-face definitions

//.font-face("ProximaNova", "../fonts/proximanova-light", normal);
//.font-face("ProximaNova", "../fonts/proximanova-bold", bold);
//.font-face("Avenir", "../fonts/AvenirLTStd-Black", bold);

// Gradient mixin with browser prefixes

.gradient(@startColor: #20416A, @endColor: #3D69A5) {
	background: @endColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor),  to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: linear-gradient(top, @startColor, @endColor);
}

// Inner-shadow

.box-shadow (@input) {
	-webkit-box-shadow:	@input;
	-moz-box-shadow:	@input;
	-ms-box-shadow:		@input;
	-o-box-shadow:		@input;
	box-shadow:			@input;
}

.transition (@input) {
	-webkit-transition: @input;
	-moz-transition: 	@input;
	-ms-transition: 	@input;
	-o-transition: 		@input;
	transition: 		@input;
}


/* ////////////////////////////////////////////// */
// HELPER CLASSES
/* ////////////////////////////////////////////// */

.center { text-align: center; }
.floatleft { float: left; }
.floatright { float: right; }

.margintop { margin-top: (@gutterXLarge); }
.marginbottom { margin-bottom: (@gutterXLarge); }
.paddingtop { padding-top: (@gutterXLarge); }
.paddingbottom { padding-bottom: (@gutterXLarge); }

.padding-wide { padding-left: (@gutterXLarge); padding-right: (@gutterXLarge);}

.margintop-small { margin-top: (@gutterLarge); }
.marginbottom-small { margin-bottom: (@gutterLarge); }
.paddingtop-small { padding-top: (@gutterLarge); }
.paddingbottom-small { padding-top: (@gutterLarge); }

.container-padded { padding: 0 @gutterLarge;}

.fullwidth { width:100%; }
//.btn-large.fullwidth { max-width: 100px; text-align: center;}

.box-shadow-light { .box-shadow(0px 1px (@acBorderRadiusLarge) @colorShadowLight); }
.box-shadow-btn-press { .box-shadow(0 1px 4px rgba(0,0,0,0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 0.0);) }

.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }

/* ////////////////////////////////////////////// */
// BOOTSTRAP OVERRIDES
/* ////////////////////////////////////////////// */

html {
	/*Disable default grey box on touch*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

.tab-content {
	overflow: visible;
}

body {
//	padding: 0 0 @baseLineHeight 0;
	line-height: @baseLineHeight;
}

html, body {
  height: 100%;
}

.container {

}

a.muted,
a.muted:hover,
a.muted:focus,{
  color: @grayLight;
}

.btn {
	padding: @btnPadding;
    line-height: @baseLineHeight;
	font-size: @btnFontSize;
	font-weight:bold;
	.box-shadow (0 1px 0px 0px rgba(255,255,255,0.25) inset, 0 1px 0px 0 rgba(255,255,255, 0.85););
	.transition (box-shadow 0.1s);
	border-radius: @acBaseBorderRadius;

	&:hover, &:focus {	
		background-position: 0; // bootstrap override
		.box-shadow (0 1px 0px 0px rgba(255,255,255,0.6) inset, 0 1px 0px 0 rgba(0, 0, 0, 0.1););
		.transition (box-shadow 0.1s);
		outline: 0;
  		outline: thin dotted \9; // IE6-9
	}

	&:active {
		background-position: 0;
		.box-shadow (0 1px 4px 0px rgba(0,0,0,0.25) inset, 0 1px 0 0 rgba(255, 255, 255, 0.4););
		.transition (box-shadow 0.0s);
	}
}

//.dropdown-toggle {
//  @media (min-width: 767px) {
//    padding: @gutterSmall @gutterLarge;
//  }
//}

.btn-small {
	padding: @baseGutter/2 @gutterLarge/2;
}

/** Square it up **/
.btn-mini {
	padding: @baseGutter/4 @gutterLarge/4;
}

.btn-uploadify {
  margin-bottom: 0px;
  padding: 0;
}

.btn-large {
	font-weight:bold;
	.box-shadow (0 1px 0px 0px rgba(255,255,255,0.25) inset, 0 1px 0px 0 rgba(255,255,255, 1););
	.transition (box-shadow 0.1s);
//	text-shadow: 0px -1px rgba(0,0,0,0.5);
	border-radius: @acBaseBorderRadius;

	&:hover, &:focus {	
		background-position: 0; // bootstrap override
		.box-shadow (0 1px 0px 0px rgba(255,255,255,0.4) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.35););
		.transition (box-shadow 0.1s);
		outline: 0;
  		outline: thin dotted \9; // IE6-9
	}

	&:active {
		background-position: 0;
		.box-shadow (0 1px 10px 0px rgba(0,0,0,0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 1););
		.transition (box-shadow 0.0s);
	}
}

.btn-primary {
	color: white;
	.gradient (#1489d4, #1076b8);
  	border: 1px solid darken(#1076b8, 10%);
    text-shadow: 0px -1px rgba(0,0,0,0.5);

  	&:hover, &:focus {
		.gradient (lighten(#1489d4, 6%), lighten(#1076b8, 4%));
		border: 1px solid darken(#1076b8, 20%);
  	}

  	&:active {
		.gradient (darken(#1489d4, 6%), darken(#1076b8, 4%));
		border: 1px solid darken(#1076b8, 20%);
  	}
}

.btn-success {
	color: white;
	.gradient (#31c15c, #28a64e);
  	border: 1px solid darken(#28a64e, 15%);
    text-shadow: 0px -1px rgba(0,0,0,0.5);

  	&:hover, &:focus {
		.gradient (lighten(#31c15c, 6%), lighten(#28a64e, 4%));
		border: 1px solid darken(#28a64e, 20%);
  	}

  	&:active {
		.gradient (darken(#31c15c, 6%), darken(#28a64e, 4%));
		border: 1px solid darken(#28a64e, 20%);
  	}
}

.btn-grey {
	color: darken(@textColor, 5%);
	.gradient (#e4e6ea, #dcdfe5);
	border: 1px solid darken(@inputBorder,15%);
	text-shadow: 0px 1px rgba(255,255,255,1); // .btn, .btn-large override

	&:hover, &:focus {
		.gradient (lighten(#e4e6ea, 2%), lighten(#dcdfe5, 1%));
		border-color: darken(@inputBorder, 25%);
	}

	&:active {
		.gradient (darken(#e4e6ea, 4%), darken(#dcdfe5, 5%));
		border-color: darken(@inputBorder, 25%);
	}
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: @adcFontSizeMedium;
	line-height: @inputLineHeight;
	.transition(box-shadow border-color 0.1s ease-out);
	//cursor: pointer; // Seems nicer but could be an incorrect use.

	&:hover {
		border-color: darken(@inputBorder, 15%);
	}

	&:focus {
		border-color: rgba(82,168,236,.8); // color from bootstrap/less/forms.less:line 127	
	}
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: @baseInputHeight;
}

.input-large,
.input-xlarge,
.input-xxlarge,
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  min-height: @baseInputHeight;
}

.input-xxlarge {
  @media (max-width: 979px) {
    width: 100%;
  }
}

select {
  height: @baseInputHeight + (@baseGutter * 2); // AC: Select elements don't get the padding like input elements so we need to add that to the height
  line-height: @baseInputHeight + (@baseGutter * 2);
}

.input-append, .input-prepend {
  .btn {
    line-height: @baseInputHeight;
    padding: @baseGutter @gutterXLarge; // Adjust padding to match the input elements in this case
  }

  .add-on {
      height: @baseInputHeight;
      line-height: @baseInputHeight;
  }
}

.help-compact {
  padding: @gutterSmall;
  white-space: normal;
  display: block;
}

hr {
	border:0;
	border-top: 1px solid lighten(@inputBorder, 10%);
	border-bottom: 0;
    margin: @baseLineHeight / 2 0;
}

h1,
h2,
h3 { line-height: @baseLineHeight; }

p.body { font-size: @baseFontSize; }
p.body-large { font-size: @adcFontSizeMedium;}

.nav-tabs {
	li {
		a {
			outline: none;
		}
	}
}



.navbar {
	.navbar-inner {
		padding:0;
		margin:0;
		border:0;
		.box-shadow-light;

		.nav{
			li {
    			a {
    				margin: 0;
    				/*border-right: 1px solid @inputBorder;*/
    				border-right: 0; // override!
    				border-radius: 0;

    				&:hover, &:focus {
    					.box-shadow (inset 0 8px 10px #ebebeb,inset 0px 25px 45px 5px rgba(242,242,242,0.9););
    					.transition (0.1s);
    				}
    				&:active {
    					.box-shadow (inset 0 5px 10px 0 rgba(0,0,25,0.1),inset 0px 25px 15px 2px rgba(0,0,25,0.08););
    					.transition (0.0s);
    					background-color: @navbarLinkBackgroundActive;
    				}
    			}
    		}
    		li.active {
    			a {
    				color: @navbarLinkColorActive;
    				text-decoration: none;
    				background-color: @navbarLinkBackgroundActive;
    				.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
    				.transition (0.1s);

    			}
    		}
    		li:first-child {
    			a {
    				border-left: 0px;
    			}
    		}
    		li:last-child {
    			a {
    				//border-right: 1px solid @inputBorder;
    			}
    		}
    		li:active {
    			a {
    				color: @gray;
    			}
    		}
		}
	}
}


#signup-container-custom {
	//border: 1px solid @inputBorder;

	.navbar-inner {
		//margin: 0 -1em -@gutter * 11 -1em;

		.nav-tabs {
		margin: 0;
		display: table;
		table-layout: fixed;
		width: 100%;
		li {
			display: table-cell;
			width: 34%;
			float: none;
			a {
				text-align: center;
				border-left: 1px solid @inputBorder;
				border-radius: 0;
				line-height: @adcLineHeightMedium;
			}
		}
		li:first-child {
				a {
					border-left: 0px;
				}
		}
	}

	}
}
//


// TABS

#signup-customer-tabs {
	margin: 0 -1em -(@adcLineHeightLarge + @gutterSmall) -1em;

	ul {
		list-style-type: none;
		margin:0;
		display: table;
		width: 100%;
		table-layout:fixed;

		.box-shadow (0px 0px 1px darken(@inputBorder, 20%));
		//border-radius: (@acBaseBorderRadius * 1.5 @acBaseBorderRadius * 1.5 0 0);

		li {
			display: table-cell;
			text-align: center;
			overflow:hidden;
			border-left: 1px solid @inputBorder;

			a {	
				display:block;
				.gradient(@navbarBackgroundHighlight, @navbarBackground);
				height: @adcLineHeightLarge;
				line-height: @adcLineHeightLarge;
				font-weight: bold;
				text-transform: uppercase;
				.transition (0.1s);

				color:@grayLight;

				&:hover, &:focus {
    					.box-shadow (inset 0 8px 10px #ebebeb,inset 0px 20px 25px 5px rgba(242,242,242,0.9););
    					.transition (0.1s);
    					text-decoration: none;
    					color:@gray;
    				}
    			&:active {
    				.box-shadow (inset 0 5px 10px 0 rgba(0,0,25,0.1),inset 0px 20px 15px 2px rgba(0,0,25,0.08););
    				.transition (0.0s);
    				background: lighten(@navbarLinkBackgroundActive, 0%);
    				color:@gray;
    			}
			}
		}
		li:first-child {
			border-left: 0px;
		}
		li.active {
			a, a:hover {
				background: @navbarLinkBackgroundActive;
				color: @gray;
				.box-shadow (inset 0 3px 8px rgba(0, 0, 0, 0.125));
				.transition (0.1s);
			}
		}
	}
}

.pagination {
  margin: @gutterLarge;
}

/* ////////////////////////////////////////////// */
// CUSTOM CLASSES
/* ////////////////////////////////////////////// */

.number-font {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ac-breadcrumb-container {
}

.ac-breadcrumb-container .ac-breadcrumb {
  vertical-align: middle;
  color: @infoText;
}

.ac-breadcrumb-container .current {
  color: @infoText
}

.ac-sub-breadcrumb .current {
  color: @textColor
}

.ac-breadcrumb-container .divider {
  color: @grayLight
}

.ac-header-top {
	background: #23314b;
	color: #fff;
}

.compact-header {
  margin-top: @gutterSmall;
  text-align: right;
}

.compact-header {
  h3 {
    margin: 0px;
  }
}

#ac-logo {
	.at2x('../img/logo.png', 260px, 110px);
	width: 260px;
	height: 55px;
	margin: 12px 0 12px -20px;

	background-repeat: no-repeat;
	background-position: top;
	float: left;

	&:hover {
		background-position: bottom;
	}
}

#ac-logo-grey {
	.at2x('../img/logo-grey.jpg', 275px, 54px);
	width: 275px;
	height: 54px;
	margin: 0 auto;
	opacity: 0.7;
	display: block;
	.transition (opacity .2s ease-out);

	&:hover {
		opacity: 1;
	}
}

#ac-logo span,
#ac-logo-grey span {
	display: none;
}

#ac-navbar {
	.gradient(#387bc1, #2964a7);
	border-top: 1px solid #6c9dd1;
	border-bottom: 1px solid #242831;
	padding: 8px 0px;
	font-family: ProximaNova, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

.ac-navbar-link {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;

	color: @white;

	padding: 12px 16px;
	margin-right: 20px;
	display: block;
	border-radius: @acBaseBorderRadius;

	text-shadow: 0px -1px #091828;
}

.ac-navbar-link:hover {
	color: @white;
	text-decoration: none;
	background: #1f5897;
	.box-shadow(0px 0px 1px 1px #19487a inset);
}

.active .ac-navbar-link {
  background: #1f5897;
}

#ac-navbar ul {
	margin: 0;
}

#ac-navbar li {
	list-style-type: none;
	float: left;
}

// Fixing up dropdown menu in navbar - No longer necessary (8/15/13)
#ac-navbar .dropdown-menu {
//  left: 0;
//  right: 20px;
//  min-width: 240px;
}

#ac-navbar .dropdown-menu:after {
  clear: both;
}

// Fixing up dropdown menu in navbar
#ac-navbar .dropdown-menu li {
  float: none;
}

.ac-headline {
	font-size: @adcFontSizeLarge;
}

.nomargin {
  margin-bottom: 0px;
}

// User dropdown in the navbar
#login_control {
  color: #ddd;
}

#login_control a {
  line-height: 32px;
}

#login_container {
  padding-top: 40px;
}

/* ////////////////////////////////////////////// */
// CONTAINERS
/* ////////////////////////////////////////////// */

/* ---- For the Reports filter view ----- */
//.row-fluid .ac-overlay-container .span6 {
//  margin-left: 0px;
//}

.filter-container {
  height: 300px;  // Completely arbitrary for now..
}

.filter-selection-container {
  padding: 0px 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filter-full-container {
  overflow: hidden;
  max-height: 400px;
}

.filter-list-container {
  padding: 0px 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.filter-list-container input {
  margin: 0;
}

.filter-list-header {
  padding: 4px 8px;
}

.filter-list-floating-header {
  padding-top: @baseGutter;
  margin: 0;
  border-bottom: 1px solid #dadee0;
//  border-top: 1px solid #dadee0;
  min-height: @baseLineHeight;
  background-color: #ffffff;
}

.filter-list-floating-header:before {
  display: table;
}

.filter-list-floating-header:after {
  display: table;
}

.floating-filter-block {
  .input-xlarge {
    @media (max-width:500px) {
      width: 150px;
    }
  }

  label {
    @media (max-width: 500px) {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .btn {
    @media (max-width: 500px) {
      padding: 7.2px 6px;
    }
  }
}

.side-blocker {
  margin-left: -115px;
  width: 100px;
  height: 132px;
  background-color: @bodyBackground;
  position: static;
  float: left;
  
  @media (max-width:767px) {
    width: 0px;
    height: 0px;
  }
}

/* Id Filter Layout specific styles */

.left-vertical-divider {
  border-left: 1px solid #dadee0;
  padding-left: @gutterSmall;
}

.bottom-dashed-divider {
  border-bottom: 1px dotted #dadee0;
}

.bottom-solid-divider {
  border-bottom: 1px solid #dadee0;
}

.compound-select {
  cursor: pointer;
}

.sub-select {
  cursor: pointer;
}

.bg-dark {
  background-color: @grayLighter;
}

input[class*="mixed"] {
  /* TODO: Some tri-state checkbox styling */
}

#selectionNavbar {
//  padding-top: @baseGutter;
}

.table-top {
  border-top: 1px solid #dadee0;
}

.navbar {
  margin-bottom: 0px;
}

#ac-content-container {
	background: @white;
	border-radius: @acBaseBorderRadius;
//	margin: 0px 8px;
	.box-shadow(0px 0px 8px #bbbec3);
}

.ac-inner-container {
  padding: 0;
}

.ac-inner-container-element {
  padding: @gutterLarge;
}

.ac-inner-narrow-container-element {
  padding: @baseGutter @gutterLarge;
}

.ac-form-container-element {
  padding: @gutterXLarge;
}

.ac-dark {
  background-color: #E8EBF0;
}

.ac-layout-well {
  background-color: @layoutWellBG;
  padding: @gutterLarge;
}

.ac-layout-well-inner {
  background-color: @white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px #bbbec3;
  -moz-box-shadow: 0px 0px 8px #bbbec3;
  -ms-box-shadow: 0px 0px 8px #bbbec3;
  -o-box-shadow: 0px 0px 8px #bbbec3;
  box-shadow: 0px 0px 8px #bbbec3;
}

.ac-layout-well-inner-upper {
  padding: @gutterLarge;
}

.ac-layout-well-inner-lower {
  padding: @gutterLarge;
  background-color: @lowerLayoutWellBG;
  border-top: 1px solid #dadee0;
}

// Default/App Icon container
.ac-icon-container {
  width: @appIconWidth;
  height: @appIconHeight;
  position: relative;
}

.ac-icon {
  position: absolute;
  z-index:2;
  width:100%;
  height:100%;
}

.ac-entry-number {
  position:relative;
  left: -125px;
  width:100px;
  text-align:right;
}

// This is used to counter the extra width added by the .ac-entry-number class
.ac-entry-number-adjustment {
  margin-right: -100px;
}

// Ad Icon container
.ac-ad-icon-container {
  width: @adIconWidth;
  height: @adIconHeight;
}

.ac-ad-title-container {
  margin-top: (@adIconHeight - @baseLineHeight) / 2;
  margin-left: 32px;
}

.ac-app-centered-container {
  margin-top: ((@baseLineHeight * 2 + 1) - @appIconHeight) / 2;
}

.ac-app-progress {
  margin-top: (@baseLineHeight - @progressHeight) / 2; //((@baseLineHeight * 2 + 1) - @progressHeight) / 2;
  margin-bottom: 0px;
//  width: @progressWidth;
  height: @progressHeight;
}

.ac-app-status-icon {
  // (The content size(base line height * 2 + 1) - icon height) / 2
//  margin-top: ((@baseLineHeight * 2 + 1) - 14px) / 2;
  vertical-align: middle;
}

// Rounded corners
.img-rounded-large {
  .border-radius(12px);
}

// .ac-login-container {
// 	&:extend(.ac-login-container);
// 	max-width: 350px;
// 	padding: (@gutter * 5);
// 	margin-right: auto;
// 	margin-left: auto;
// 	border-radius: (@acBaseBorderRadius * 1);
// }

// EXTEND is not supported in LESS v1.3.3 :(

.ac-login-container-base {
	margin-left: -2em; // BC: lesson learned. bootstrap cannot responsively handle centered containers with padding

	@media (max-width: 767px) {
		margin-left:0;
	}
}

.ac-login-container {
	//&:extend(.ac-login-container);
	
	//max-width: 350px;
	padding: 1em;
	//margin-right: auto;
	//margin-left: auto;
	border-radius: (@acBaseBorderRadius);
	.box-shadow-light;

	.gradient (#fcfcfc, #f4f6f7);
	border: 1px solid @inputBorder;


	@media (max-width: 767px) {
		padding: @gutterSmall @gutterSmall 1em @gutterSmall;
	}
}

.ac-login-well {
	//&:extend(.ac-login-container);
	
	//max-width: 350px;
	padding: 1em;
	//margin-right: auto;
	//margin-left: auto;
	border-radius: (@acBaseBorderRadius);

	.box-shadow(0px 1px 1px rgba(255,255,255,0.5));
	
	background: darken(@bodyBackground, 5%);
	border: 1px solid darken(@bodyBackground, 12%);

	span {
		color: lighten(@textColor, 3%);
	}

	@media (max-width: 767px) {
		padding: (@gutterSmall);
	}
}

.ac-error-box .error {
  border: 1px solid #b94a48;
}

.ac-form-well {
//  background-color: #f5f5f5;
//  border: 1px solid #ddd;
//  margin-top: 10px;
//  margin-bottom: 10px;
  padding: @baseLineHeight 0 0 0;
}

// Used for inline forms
.ac-inline-block {
  float: left;
  margin-right: @baseGutter;
}

.ac-inline-block .btn {
  margin-top: @baseLineHeight + 5px;
  line-height: @baseInputHeight;
  padding: @baseGutter @gutterXLarge; // Adjust padding to match the input elements in this case
}

.ac-inline-centered {
  .checkbox {
    height: @baseInputHeight;
    line-height: @baseInputHeight;
    vertical-align: middle;
  }

  input {
    height: @baseInputHeight;
    margin-top: 0px;
  }
}

.fixed-filter-block {

}

.floating-block {
  z-index: 100;
  -moz-box-shadow:inset 0px 0px 5px #888;
  -webkit-box-shadow:inset 0px 0px 5px #888;
  box-shadow:inset 0px 0px 5px #888;
}

.ac-welcome-box {
  color: black;
  padding: @gutterLarge @gutterSmall;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.33);
  webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.33);
  box-shadow: 0px 0px 5px rgba(0,0,0,.33);
  margin-bottom: 1px;
}

.ac-welcome-box p {
  font-size: 16px;
}

.adjustable-filler-ads {
//  @media (min-width: 979px) and (max-width: 1200px) {
//    padding: 24px;
//  }
  @media (min-width: 767px) and (max-width: 979px) {
    padding: 44px;
  }

}

.adjustable-filler-apps {
  @media (min-width: 979px) and (max-width: 1200px) {
    padding: 12px;
  }
//  @media (min-width: 767px) and (max-width: 979px) {
//    padding: 32px;
//  }
}


// Loading classes
.loader-icon {
  display: inline-block;
  background-image: url('../img/pacmon_yellow.gif');
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
}

.loader-icon.loader-paging {
  margin-bottom: 0px;
  margin-left: @gutterSmall;
  vertical-align: text-bottom;
}

.loader-icon.loader-small {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
}

.loader-icon.loader-input {
  margin-left: @baseGutter;
  margin-bottom: @baseLineHeight / 2;
  vertical-align: middle;
  width: @baseInputHeight;
  height: @baseInputHeight;
  line-height: @baseInputHeight;
}

.loader-icon.loader-placeholder {
  background-image: none;
}

.loader-small .ui-spinner {
  width: 14px;
  height: 14px;
}

.loader-small .ui-spinner:after {
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
}

// Tooltip styling
.status-tooltip {
  margin-right:@baseGutter;
  margin-left:@baseGutter;
}



// --- PULLED FROM index.css which was partially adapted from the original site ---
.tooltip-trigger {
  cursor: pointer;
}

/* A sans href */
a:not(.btn) { cursor: pointer; }
a:hover,a.hover { text-decoration: underline; }

/** Set a line to be the height of a row **/
/** @todo Consult creative team, have them tell us how silly this is **/
.row-line {
  line-height:30px; /* Same height as minimum twitter row */
}

/** We need padding within a column sometimes **/
/** @todo Consult creative team, have them tell us how silly this is **/
.column-pad {
  padding-right: 20px;
}

.platform-icon {
  height: 21px;
}

/**
 * Get vertical lines through the use of borders
 */
.ac-border-left {
  border-left: 1px solid #ddd;
}
.ac-border-right {
  border-right: 1px solid #ddd;
}

/** TABLES **/
/* Sortable th shouldn't wrap text, and should only show hidden sort icons on hover */
th.field-sort {
	font-size: 14px;
	white-space:nowrap;
}
th.field-sort .no-sort {
	visibility: hidden;
}
th.field-sort:hover .no-sort {
	visibility: visible;
}
td {
	white-space: nowrap;
}
.table td {
  vertical-align: middle;
}
/* Date pickers should have a fixed layout */
.datepicker-months > table {
  table-layout: fixed;
  width: 100% !important;
}
.datepicker-years > table {
  table-layout: fixed;
  width: 100% !important;
}

/** Give some horizontal space **/
.h-space-left {
  margin-left: @gutterSmall;
}
.h-space-right {
  margin-right: @gutterSmall;
}
.h-space-left-large {
  margin-left: @gutterLarge;
}
.h-space-right-large {
  margin-right: @gutterLarge;
}
.h-space-left-xlarge {
  margin-left: @gutterXLarge;
}
.h-space-right-xlarge {
  margin-right: @gutterXLarge;
}
/** Give some vertical space **/
.v-space-top {
  margin-top: @gutterSmall;
}
.v-space-bottom {
  margin-bottom: @gutterSmall;
}
.v-space-top-large {
  margin-top: @gutterLarge;
}
.v-space-bottom-large {
  margin-bottom: @gutterLarge;
}
.v-space-top-xlarge {
  margin-top: @gutterXLarge;
}
.v-space-bottom-xlarge {
  margin-bottom: @gutterXLarge;
}

/** Charts **/
.chart-container {
    width:100%;
    margin: 0 auto;
    height:280px;
    border:1px solid #DFDFDF;
    position:relative;
    overflow:hidden;
}

.tabbed-chart {
  height: 290px;
  border: 0px;
  border-top:1px solid #DFDFDF;
}

.chart-controls {
  position:relative;
  width:100%;
  height:24px;
  border-bottom:1px solid #DFDFDF;
  background-color:#f3f3f3;
}

.tabbed-chart .chart-controls {
  height: auto;
}

.chart-utilities {
  position:absolute;
  right:0;
  margin-right:10px;
  height:100%;
  line-height:24px;
  z-index:6;
}

.chart-views {
  position:relative;
  text-align:center;
  height:100%;
  width:100%;
  line-height:24px;
  z-index:5;
}

.chart-views {
  .brand {
    margin-left: 0px;
  }
}

.chart-field-select {
//  min-width: 100px;
}

.chart-axis {
  position:absolute;
  width:100%;
  height:21px;
  bottom:0;
  left:0;
  background-color:#ddd;
  z-index:0
}

.chart-inner {
  width:100%;
  height:256px;
  position:relative;
  background-color:transparent;
  z-index:1;
}

.summary-container {
  background-color: #23314b;
  color: @white;
//  border-bottom:1px solid #ccc;
//  border-right:1px solid #ccc;
//  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
}

.adc-header-block {
  overflow: hidden;
}

.adc-highlighted {
  background-color: #facccc;
}

.table-striped tbody {
  tr.adc-highlighted:nth-child(odd) td {
    background-color: #facccc;
  }
}

.adc-highlighted-column {
//  background-color: #ccfacc
  background: rgb(35, 49, 75); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(35, 49, 75, .05);
//  color: white;
}
.table-striped tbody {
  tr:nth-child(odd) td.adc-highlighted-column {
//    background-color: #ccfacc
    background: rgb(35, 49, 75); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(35, 49, 75, .15);
//    color: white;
  }
}

/* Class for asset show pages */
.region-info {
  td {
    display: block;
    white-space: normal;
  }
//  overflow: auto;
}

/** Form stuff **/
/** Show a search icon in right sector of element **/
.input-search {
  /** Change image url **/
  background:url("/img/search-dark.png") no-repeat 98% center;
  padding-right:30px;
}

/** App search results **/
.app-search-container {
  position: absolute;
  background-color:#eee;
  min-height:20px;
  max-height:250px;
  min-width:320px;
  overflow:auto;
  z-index:10;
}

.app-search-icon-container {
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.app-search-result {
  width: 100%;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(170, 170, 170);
}

.app-search-result:hover {
  background-color: #D6E5D5;
  cursor:pointer;
}

.app-search-result-description {
  color: #777;
}

.app-market-box {
  position:relative;
  -moz-box-shadow:inset 0px 0px 5px #888;
  -webkit-box-shadow:inset 0px 0px 5px #888;
  box-shadow:inset 0px 0px 5px #888;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color:#eee;
  width: 550px;
  height: 69px;
  z-index: 1;
}

.app-market-box-icon {
  margin-top: 6px;
  width:57px;
  height:57px;
}

/** Sortable fields should be clickable **/
.field-sort {
  cursor: pointer;
}

/**
 * Box selectable items
 */
.box-selectable {
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
}
.box-selectable-platform {
  height:135px;
  width:160px;
}
.box-selectable-traffic {
  padding-bottom: @gutterSmall;
  width:140px;
}
.box-selectable-ad-type {
  width: 140px;
  height: 115px;
  padding: 0 @gutterSmall;
}
.box-selectable-traffic .details {
  height:@adcLineHeightSmall;
  line-height:@adcLineHeightSmall;
  vertical-align:middle;
  padding-top: @gutterSmall;
}
/* Give a nice selection box */
.box-selected {
  -moz-box-shadow:inset 0px 0px 5px #888;
  -webkit-box-shadow:inset 0px 0px 5px #888;
  box-shadow:inset 0px 0px 5px #888;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color:#eee;
}

/** targeting selection **/
.target-select {
  cursor: pointer;
}

/** Global faded class **/
.faded {
  opacity: 0.4;
}

/** Override bootstrap horizontal form controls for a 'minified' version **/
.form-horizontal .control-label-min {
  width: 40px;
}

.form-horizontal .controls-min {
  margin-left: 0px;
}

/** Overlay classes **/
.ac-overlay-container .modal-backdrop {
  z-index: 19;
  opacity: 0.0;
}

.ac-overlay-container {
  position: absolute;
  z-index: 20;
}

.ac-overlay-container.left {
  left: 0;
}

.ac-overlay-container.right {
  right: 0;
}

.ac-overlay-container.fade.in {
  opacity: 1;
}

.ac-overlay-container.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/** Fix container to side on mobile */

@media (max-width: 767px) {
  .ac-overlay-container {
    left: 50%;
  }
  .ac-overlay {
    left: -50%;
  }
  .ac-overlay-container.left {
    left: 50%;
  }
  .ac-overlay-container.right {
    left: 50%;
  }
}

.ac-overlay {
  position: relative;
  z-index: 20;
  white-space: nowrap;
  background-color: #FFF;
  border: 1px solid #555;
  -webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

/** Date Picker overlay **/

.date-picker-calendar {
  width: 228px;
  padding-right: 15px;
  padding-left: 15px;
}

.ac-overlay-date-picker {
  padding: 15px;
  max-height: 500px;
  @media (max-width: 979px) {
    overflow-y: scroll;
  }
}

ul.ac-compact-list {
  @media(min-width:979px) {
    list-style: none;
  }
  @media(max-width:979px) {
    list-style-type: disc;
  }
}

.ac-compact-list li {
  @media(max-width:979px) {
    float: left;
    margin-left: @gutterLarge;
  }
}

.ac-overlay-date-picker .header {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #555;
  text-align: left;
}

.ac-overlay-date-picker .field {
  padding-top: 0;
  padding-bottom: 15px;
  padding-left: 0;
  margin-top: 0;
  font-size: 12px;
  color: #555;
  text-align: left;
}

/** Zone targeting **/

.ac-overlay-filter-zone {
  padding: 15px;
  background-color: #eee;
}

.ac-overlay-filter-zone .region-summary {
  background-color: #ddd;
  border-right: 2px solid #ddd;
}

.ac-overlay-filter-zone .summary-header {
  width: 100%;
  height: 21px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  color: white;
  text-align: center;
  background-color: #589BCB;
  border: 0;
  border-top: 1px solid #377AAA;
  border-right: 1px solid #377AAA;
  border-bottom: 1px solid #377AAA;
}

.ac-overlay-filter-zone .textarea-selected-zones {
  width: 90%;
  margin: 0 0px 2px;
  font-size: 11px;
  color: #333333;
}

/** CSV Targeting **/

.ac-overlay-filter-csv {
  padding: 15px;
}

.ac-overlay-filter-csv textarea {
  width: 400px;
  height: 200px;
}

/** Basic targeting **/

.ac-overlay-filter-basic-list {
  height: 480px;
  padding: 15px;
  overflow-y: scroll;
  background-color: #FFF;
  border-right: 1px solid #555;
}

.ac-overlay-filter-basic-table {
  height: 480px;
  padding: 15px;
  background-color: #eee;
}


/* ////////////////////////////////////////////// */
// RESPONSIVE
/* ////////////////////////////////////////////// */

@media (max-width: 767px) {

  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  // Padding to set content in a bit
  .container {
    padding-left: @baseGutter;
    padding-right: @baseGutter;
  }

  .ac-inner-container {
    padding: 0;
  }

  .margintop { margin-top: (@gutterLarge); }
  .marginbottom { margin-bottom: (@gutterLarge); }
  .paddingtop { padding-top: (@gutterLarge); }
  .paddingbottom { padding-bottom: (@gutterLarge); }

  .margintop-small { margin-top: (@gutterLarge); }
  .marginbottom-small { margin-bottom: (@gutterLarge); }
  .paddingtop-small { padding-top: (@gutterLarge); }
  .paddingbottom-small { padding-top: (@gutterLarge); }

  .padding-wide { padding-left: (@gutterLarge); padding-right: (@gutterLarge);}

  .container-padded { padding: 0 @gutterSmall;}

  #signup-container-custom {
    .navbar-inner {
      //margin: 0 -@gutter * 3 -@gutter * 11 -@gutter * 3;

      .nav-tabs {
        li {
          display:block;
          width: 100%;
          float: none;
          clear:both;
        }
        li:after {
          clear: both;
        }
      }
    }
  }

  #signup-customer-tabs {
    margin: 0 * 3 -@gutterSmall -(@baseLineHeight*1.5) -@gutterSmall;
    ul {
      li {
        display: block;
        width: 100%;
        clear: both;
        float: none;
        border: 0px;
        border-top: 1px solid @inputBorder;
      }
      li:first-child {
        border: 0px;
      }
    }
  }
}
