// Fonts declared in adcolony-variables.less
.br-row {
  max-width: 1024px;
  margin: 0 auto;
}
/* Info Card Styles */
.br-bordered-card {
  border: 1px solid #DADBDC;
  border-radius: @acBaseBorderRadius;
}
.br-modal-bg {
  transition: z-index 1s ease-in-out 1s, opacity 1s ease-in-out 1s;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
.br-info-card-modal {
  float: left;
}
.br-info-card-modal:first-child {
  margin-left: 22px;
}
.br-info-card-modal.active {
  .br-modal-bg {
    transition: z-index 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
    z-index: 30;
    opacity: 1;
  }
  .br-info-card {
    transition: margin 1s ease-in-out 1s, z-index 1s ease-in-out 0s;
    z-index: 31;
  }
  .br-info-card:hover {
    cursor: auto;
    border: 1px solid #DADBDC;
  }
  .br-info-card:active {
    border: 1px solid #DADBDC;
  }
}
.br-info-card {
  position:relative;
  transition: margin 1s ease-in-out 0s, z-index 1s ease-in-out 1s;
  z-index: 1;
  text-align: center;
//  padding: 0px 13px;
  margin: 16px 16px 0px 0px;
  width: 314px;
  height: 584px;
//  float: left;
  .br-info-icon {
    width: 44px;
    height: 44px;
    margin: 30px 0px 12px 0px;
  }
  .br-info-title {
    max-width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #DADBDC;
    padding-bottom: 5px;
  }
  .br-info-header {
    margin: 12px 0 0 0;
  }
  .br-info-chart {
    width: 241px;
    height: 262px;
    margin-left: 20px;
    position: relative;
    .axis-labels {
      fontFamily: 'Whitney';
      fontWeight: 'normal';
      fontSize: 13;
      color: #CFCFCF;
    }
  }
}
.br-info-card:hover {
  cursor: zoom-in;
  border: 1px solid #CFCFCF;
}
.br-info-card:active {
  border: 1px solid #4D4E4E;
}
.br-info-card.wide {
  width: 480px;
  .br-info-chart {
    width: 400px;
    margin-left: 40px;
  }
}
.br-info-card.full-width {
  width: 978px;
  height: 240px;
  .br-sub-card {
    width: 326px;
  }
}
.br-info-card.tall {
  height: 690px;
  .br-info-chart {
    height: 350px; /* TODO: this is all arbitrary, we'll need to see how it fits and come up with a number that works */
  }
}
.br-info-card.short {
  height: 337px;
  .br-info-chart {
    height: 120px; /* TODO: this is all arbitrary, we'll need to see how it fits and come up with a number that works */
  }
}
.br-info-card.short, .br-info-card.condensed {
  .br-info-sub-title {
    display: none;
  }
  .br-info-chart-title {
    display: none;
  }
  .br-names.br-info-title {
    font-size: 13px;
    line-height: 15px;
  }
  .br-info-icon {
    width: 36px;
    height: 36px;
    margin: 20px 0px 12px 0px;
  }
  .br-info-title {
    max-width: 100px;
  }
  .br-numbers.br-info-header {
    font-size: 30px;
    line-height: 36px;
  }
}
.br-info-card.short {
  .btn-br-info-action {
    margin-top: 20px;
  }
}
.br-info-card.condensed {
  .btn-br-info-action {
    margin-top: 10px;
  }
}
.br-info-card.wide.side-by-side {
  .left-side {
    float: left;
    width: 204px;
    height: 265px;
    padding: 36px 0 36px 36px;
  }
  .right-side {
    float: right;
    width: 204px;
    height: 265px;
    padding: 36px 36px 36px 0;
  }
  .br-info-icon {
    width: 44px;
    height: 44px;
    margin: 20px 0px 12px 0px;
  }
  .br-info-chart {
    width: 188px;
    height: 188px;
    margin: 0;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
  .br-info-header {
    margin: 0;
  }
  .br-numbers.br-info-header {
    font-size: 60px;
    line-height: 70px;
  }
  .br-info-sub-title {
    display: block;
  }
}
.br-sub-card {
  float: left;
}
.br-info-sub-title {
  margin-bottom: 36px;
}
.br-bottom-border {
  border-bottom: 1px solid #DADBDC;
}
.btn-br-info-action {
  padding: 6px;
  box-shadow: none;
  background-image: none;
  border: none;
  background-color: #E7E8E8;
}
/* END Info Card Styles */
/* Text and Number Styles */
.br-small-text {
  font-size: 13px;
  line-height: 13px;
}
.br-numbers {
  font-style: normal;
  font-weight: normal;
  font-family: Whitney;
//  font-size: 13px;
  .br-symbol {
    font-weight: 300;
  }
}
.br-numbers.br-info-header {
  color: #4D4E4E;
  line-height: 57px;
  font-size: 48px;
}
.br-numbers.br-info-light {
  font-weight: 100;
  font-size: 33px;
  line-height: 38px;
  color: white;
}
.br-names {
  font-style: normal;
  font-family: Proxima;
  font-weight: normal;
}
.br-names.br-info-chart-title {
  font-size: 18px;
  color: #4D4E4E;
}
.br-names.br-info-title {
  font-weight: bold;
  font-family: ProximaNova;
  font-size: 18px;
  color: #444445;
}
.br-names.br-info-sub-title {
  font-size: 16px;
  line-height: 19px;
  color: #9B9B9B;
}
.br-names.btn-br-info-action {
  font-family: ProximaNova;
  font-weight: bold;
  color: #666767;
  font-size: 13px;
  line-height: 15px;
}
/* END Text and Number Styles*/
.search-entry-box {
  padding: 12px;
}

.with-border {
  border-left: 1px solid #ddd;
}

@media (min-width: 1200px) {
  .br-search-asset-preview {
    position: relative;
    width: 200px;
    height: 134px;
  }
}
@media (max-width: 1199px) {
  .br-search-asset-preview {
    display: none;
  }
}
.br-search-asset-preview {
  .br-asset-preview {
    height: 134px;
  }
  .br-single-preview, .br-multi-preview {
    .br-asset-overlay {
      margin-top: 110px;
    }
  }
}

.br-search-preview-overlay {
  position: absolute;
  top: 110px;
  left: 6px;
  /*width: 100%;*/
  vertical-align: bottom;
  font-weight: bold;
  color: white;
  z-index: 4;
}

/* Progress Bar Styles */
.br-progress {
  max-width: 140px;
  height: 6px;
  margin-bottom: 10px;
  box-shadow: none;
  background-image: none;
}
.br-search-progress {
  max-width: 140px;
  height: 14px;
  margin-bottom: 10px;
  background-image: none;
  box-shadow: none;
}
.br-progress-full {
  max-width: 100%;
  width: 100%;
}
.br-progress .bar {
  background-image: none;
  box-shadow: none;
}
.br-search-progress .bar {
  background-color: #aaaaaa;
  background-image: none;
  box-shadow: none;
}
.br-spend-progress .bar {
  background-color: #1BAAE1;
}
.br-date-progress .bar {
  background-color: #0672BA;
}
/* END Progress Bar Styles */

table.table-brand-reporting tbody tr:hover {
  background-color: rgb(35, 49, 75);
  cursor:pointer;
}

/*table.table-brand-reporting tbody tr:nth-child(odd):hover {*/
/*background-color: blue;*/
/*}*/

.br-show-container {
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px #bbbec3;
  -moz-box-shadow: 0px 0px 8px #bbbec3;
  -ms-box-shadow: 0px 0px 8px #bbbec3;
  -o-box-shadow: 0px 0px 8px #bbbec3;
  box-shadow: 0px 0px 8px #bbbec3;
  margin-top: 6px;
}

.br-show-overlay {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.br-search-overlay {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.br-search-overlay table {
  margin-bottom: 0px;
}

.br-button-block {
  padding: 12px 12px 8px 12px;
  border-bottom: 4px solid transparent;
}

.br-button-block a {
  text-decoration: none;
  color: black;
}

.br-button-block:hover {
  border-top-left-radius: 3px;
  border-bottom: 4px solid #4bb1cf;
  cursor: pointer;
}

.br-button-block.active {
  border-bottom: 4px solid #4bb1cf;
}

.br-filter-block {
  padding: 6px;
  line-height: 32px;
  vertical-align: middle;
  cursor: pointer;
}

.br-border-right {
  border-right: 1px solid #ddd;
}

.br-show-container .ac-overlay {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

/** http://avriqq.net/ **/
.br-btn {
  border: none;
  background: #BDC3C7;
  color: white;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.br-exposure-total-box {
  padding: 20px 0px 20px 0px;
  background-color: rgba(0,0,0,0.2);
}

.br-dec-info-left-chart-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

/* Ad Preview Styles */
.br-asset-preview {
  width: 100%;
}
@media (max-width: 1599px) {
  .br-asset-preview {
    max-height: 118px;
  }
}
@media (min-width: 1600px) {
  .br-asset-preview {
    max-height: 155px;
  }
}
.br-preview-click-thru {
  cursor: pointer;
}
/* video overlay and dec overlays are different styling
  because the img cycling we use for the video preview
 has the images using absolute position*/
.br-asset-overlay {
  z-index: 4;
  font-weight: bold;
  font-size: 13px;
  color: white;
}
.br-single-preview {
  .br-asset-overlay {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }
  .br-asset-overlay.compact {
    font-size: 11px;
    margin-right: 5px;
  }
  .br-asset-preview {
    border-top-right-radius: @acBaseBorderRadius;
  }
}
.br-single-preview.left {
  .br-asset-overlay {
    position: relative;
    float: left;
    margin-top: -25px;
    margin-left: 10px;
  }
  .br-asset-overlay.compact {
    font-size: 11px;
    margin-left: 5px;
  }
  .br-asset-preview {
    border-top-left-radius: @acBaseBorderRadius;
  }
}
.br-multi-preview {
  .br-asset-overlay {
    position: relative;
    float: left;
    margin-top: 130px;
    margin-left: 10px;
  }
  .br-asset-overlay.compact {
    margin-top: 23px;
    margin-left: 5px;
    font-size: 11px;
  }
  .br-asset-preview {
    border-top-left-radius: @acBaseBorderRadius;
  }
}
.br-multi-preview.right{
  .br-asset-overlay {
    position: relative;
    float: right;
    margin-top: 130px;
    margin-right: 10px;
  }
  .br-asset-overlay.compact {
    margin-top: 23px;
    margin-right: 5px;
    font-size: 11px;
  }
  .br-asset-preview {
    border-top-right-radius: @acBaseBorderRadius;
  }
}

.cycler {
  position: relative;
}
.cycler img {
  position: absolute;
  z-index: 1;
  background-color:black;
}
.cycler img.active {
  z-index: 3
}
/* Custom grid for the ad creative info box*/
.br-flush-grid {
  border-bottom: 1px solid #DADBDC;
  .span6 {
    width: 50%;
    margin: 0px;
  }
}
.compact {
  .br-flush-grid {
    border-bottom: none;
  }
}