// Fonts declared in adcolony-variables.less
.br-bordered-card {
  border: 1px solid #DADBDC;
  border-radius: @acBaseBorderRadius;
}
.br-modal-bg {
  transition: z-index 1s ease-in-out 1s, opacity 1s ease-in-out 1s;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
.br-info-card-modal {
  float: left;
}
.br-info-card-modal.active {
  .br-modal-bg {
    transition: z-index 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
    z-index: 30;
    opacity: 1;
  }
  .br-info-card {
    transition: margin 1s ease-in-out 1s, z-index 1s ease-in-out 0s;
    z-index: 31;
  }
  .br-info-card:hover {
    cursor: auto;
    border: 1px solid #DADBDC;
  }
  .br-info-card:active {
    border: 1px solid #DADBDC;
  }
}
.br-info-card {
  position:relative;
  transition: margin 1s ease-in-out 0s, z-index 1s ease-in-out 1s;
  z-index: 1;
  text-align: center;
  padding: 0px 13px;
  margin: 14px 14px 14px 0px;
  width: 314px;
  height: 584px;
//  float: left;
  .br-info-icon {
    width: 44px;
    height: 44px;
    margin: 30px 0px 12px 0px;
  }
  .br-info-title {
    max-width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #DADBDC;
    padding-bottom: 10px;
  }
  .br-info-header {
    margin: 12px 0 6px 0;
  }
  .br-info-chart {
    width: 241px;
    height: 262px;
    margin-left: 20px;
    .axis-labels {
      fontFamily: 'Whitney';
      fontWeight: 'normal';
      fontSize: 13;
      color: #CFCFCF;
    }
  }
}
.br-info-card:hover {
  cursor: zoom-in;
  border: 1px solid #CFCFCF;
}
.br-info-card:active {
  border: 1px solid #4D4E4E;
}
.br-numbers {
  font-style: normal;
  font-weight: normal;
  font-family: Whitney;
  color: #4D4E4E;
}
.br-numbers.br-info-header {
  line-height: 57px;
  font-size: 48px;
  .percent-symbol {
    font-weight: 300;
  }
}
.br-names {
  font-style: normal;
  font-family: Proxima;
  font-weight: normal;
}
.br-names.br-info-chart-title {
  font-size: 18px;
  color: #4D4E4E;
}
.br-names.br-info-title {
  font-weight: bold;
  font-family: ProximaNova;
  font-size: 18px;
  color: #444445;
}
.br-names.br-info-sub-title {
  font-size: 16px;
  color: #9B9B9B;
}

.search-entry-box {
  padding: 12px;
}

.with-border {
  border-left: 1px solid #ddd;
}

@media (min-width: 1200px) {
  .end-card-preview {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .end-card-preview {
    display: none;
  }
}

.preview-overlay {
  position: absolute;
  top: 110px;
  left: 6px;
  /*width: 100%;*/
  vertical-align: bottom;
  font-weight: bold;
  color: white;
  z-index: 4;
}

.br-progress {
  max-width: 140px;
  height: 6px;
  margin-bottom: 10px;
}

.br-search-progress {
  max-width: 140px;
  height: 14px;
  margin-bottom: 10px;
}

.br-progress-full {
  max-width: 100%;
  width: 100%;
}

.br-search-progress .bar {
  background-color: #aaaaaa;
  background-image: linear-gradient(to bottom,#cccccc,#999999);
}

table.table-brand-reporting tbody tr:hover {
  background-color: rgb(35, 49, 75);
  cursor:pointer;
}

.cycler {
  position: relative;
}

.cycler img {
  position: absolute;
  z-index: 1;
  background-color:black;
}

.cycler img.active {
  z-index: 3
}

/*table.table-brand-reporting tbody tr:nth-child(odd):hover {*/
/*background-color: blue;*/
/*}*/

.br-show-container {
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px #bbbec3;
  -moz-box-shadow: 0px 0px 8px #bbbec3;
  -ms-box-shadow: 0px 0px 8px #bbbec3;
  -o-box-shadow: 0px 0px 8px #bbbec3;
  box-shadow: 0px 0px 8px #bbbec3;
  margin-top: 6px;
}

.br-show-overlay {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.br-search-overlay {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.br-search-overlay table {
  margin-bottom: 0px;
}

.br-button-block {
  padding: 12px 12px 8px 12px;
  border-bottom: 4px solid transparent;
}

.br-button-block:hover {
  border-top-left-radius: 3px;
  border-bottom: 4px solid #4bb1cf;
  cursor: pointer;
}

.br-button-block .active {
  border-bottom: 4px solid #4bb1cf;
}

.br-filter-block {
  padding: 6px;
  line-height: 32px;
  vertical-align: middle;
  cursor: pointer;
}

.br-border-right {
  border-right: 1px solid #ddd;
}

.br-show-container .ac-overlay {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

/** http://avriqq.net/ **/
.br-btn {
  border: none;
  background: #BDC3C7;
  color: white;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.br-exposure-total-box {
  padding: 20px 0px 20px 0px;
  background-color: rgba(0,0,0,0.2);
}

.br-dec-info-left-chart-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.br-dec-preview {
  position: absolute;
  margin-top: -20px;
  z-index: 4;
  font-weight: bold;
  color: white;
}

.br-video-preview {
  position: relative;
  top: 135px;
  /* margin-top: 10px; */
  /* left: 6px; */
  /* width: 100%; */
  /* vertical-align: bottom; */
  font-weight: bold;
  color: white;
  z-index: 4;
}

/* Custom grid */

.br-flush-grid {
  .span6 {
    width: 50%;
    margin: 0px;
  }
}